body {
  background: black;
  margin: 0;
}

h1 {
  color: white;
  font-family: sans-serif;
  font-weight: 200;
  margin: 0 0 5px 30px;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#tilegrid {
  display: block;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 1000;
}

#tilegridwrapper {
  display: block;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all .3s ease-in-out;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: visible;
  padding: 30px;
  width: 100%;
}

.row-wrapper {
  overflow-x: hidden;
  overflow-y: visible;
}

.row-title:first-child {
  margin-top: 20px;
}

.tile {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  display: block;
  margin: 0 15px;
  max-width: 250px;
  min-width: 250px;
}

  .tile:first-child {
    margin-left: 0;
  }

  .tile:last-child {
    margin-right: 0;
  }

  .tile:focus {
    box-shadow: 0px 1px 10px rgba(220, 220, 220, 0.5);
    outline: none;
    transition: all .3s ease-in-out;
    transform: scale(1.1);
  }
